--prefer-binary

# Core ML & NLP

nltk==3.8.1
scikit-learn==1.4.2

# Data Processing
pandas==2.1.4
numpy==1.24.3
PyPDF2==3.0.1

# Backend
flask==3.0.0

# Utilities
python-dotenv==1.0.0

#production server for deployment
gunicorn==21.2.0
