setuptools==68.0.0
wheel==0.41.0
--prefer-binary

# Core ML & NLP

nltk==3.8.1
scikit-learn==1.5.0

# Data Processing
pandas==2.2.2
numpy==2.0.2
PyPDF2==3.0.1

# Backend
flask==3.0.0

# Utilities
python-dotenv==1.0.0

#production server for deployment
gunicorn==21.2.0
